---
layout: default
title: "Home"
---

<br><br>
<div style="text-align: center; font-size: 2em; font-weight: bold;">
  UDC-VIT: A Real-World Video Dataset for Under-Display Cameras
</div>
<div style="text-align: center; font-size: 1.5em; font-weight: normal; color: #666;">
  This is a description that appears in a slightly less bold color.
  <img src="videos/2796-ezgif.com-video-to-gif-converter.gif" style="max-width: 1200px;">
</div>

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
